.page {
  margin: 40px 60px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.students-search-input-and-button {
  margin: auto 0;
  display: flex;
  position: relative;
}

.search-field {
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  outline: none;

  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);

  background-repeat: no-repeat;
  background-position: left center;

  padding: 10px 0px 10px 40px;

  /* -webkit-appearance: none; */
}

.students-page-search-clear-button {
  background-color: transparent;
  border: none;
  position: absolute;
  margin: auto 0;
  top: 21%;
  right: 0;
  cursor: pointer;
}

.students-page-sort-selector {
  border: none;
}

.filters-add-student {
  display: flex;
  justify-content: flex-end;
}

.remove-filter-button {
  margin-right: 8px;
  color: #929292;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.remove-filter-button:hover {
  color: #c1c1c1;
}

.filter {
  margin-right: 20px;
  color: var(--font-grey);
  font-weight: 600;
}

.student-filter {
  border: none;
  min-width: 37px;
  color: var(--secondary-color-dark);
  font-weight: 600;
}

.student-filter:focus {
  outline: none;
}

.students-page-add-student-button {
  margin: auto 0;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 2% auto;
  background-color: #fff;
}

td:last-child {
  text-align: right;
}

table th {
  text-align: left;
  color: #99a0ab;
  padding: 20px 0px;
  font-size: 12px;
}

table td {
  border-bottom: solid 1px #e3e3e3;
  padding: 15px 0px;
}

table tr:last-child td {
  border-bottom: 0;
  /* padding-bottom: 35px; */
}

tr:not(:nth-child(0)):hover {
  background-color: var(--background-blue);
}

/* table tr:nth-child(odd) td {
  background-color: #e7edf0;
} */
