.page {
  margin: 40px 60px;
}

.search-field {
  width: 30%;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  outline: none;

  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);

  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;

  /* -webkit-appearance: none; */
}

.controls {
  display: flex;
  justify-content: space-between;
}

.filters-button {
  display: flex;
}

.filter {
  margin-right: 20px;
}

.filter-dropdown {
  vertical-align: -5px;
}

.add-student-button {
  border-radius: 10px;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 2% auto;
  background-color: #fff;
}

td:last-child {
  text-align: right;
}

table th {
  text-align: left;
  color: #99a0ab;
  padding: 20px 0px;
  font-size: 12px;
}

table td {
  border-bottom: solid 1px #e3e3e3;
  padding: 15px 0px;
}

table tr:last-child td {
  border-bottom: 0;
  /* padding-bottom: 35px; */
}

tr:not(:nth-child(0)):hover {
  background-color: coral;
}

/* table tr:nth-child(odd) td {
  background-color: #e7edf0;
} */
