.page {
  margin: 40px 60px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.filter-dropdown {
  vertical-align: bottom;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 2% auto;
  background-color: #fff;
}

td:last-child {
  text-align: right;
}

table th {
  text-align: left;
  color: #99a0ab;
  padding: 20px 0px;
  font-size: 12px;
}

table td {
  border-bottom: solid 1px #e3e3e3;
  padding: 15px 0px;
}

table tr:last-child td {
  border-bottom: 0;
  /* padding-bottom: 35px; */
}

tr:hover {
  background-color: coral;
}

/* table tr:nth-child(odd) td {
  background-color: #e7edf0;
} */
