:root {
  --darkGrey: #5c6a7c;
  --mediumGrey: #99a0ab;
  --lightGrey: #a0abb9;
}

.button {
  width: 100px;
  padding: 10px 0px;
  font-weight: 600;
  border-radius: 6px;
}

.button-primary {
  background-color: #3761eb;
  color: #fff;
  border: none;
}

.button-primary:hover {
  background-color: #476eef;
}

.button-secondary {
  background-color: #fff;
  color: #476eef;
  border: 1px solid #3761eb;
}

.button-secondary:hover {
  background-color: #e1e1e1;
}
