:root {
  --darkGrey: #5c6a7c;
  --mediumGrey: #99a0ab;
  --lightGrey: #a0abb9;
}

.button {
  min-width: 110px;
  height: 37px;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 6px;
}

.button-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: 700;
}

.button-primary:hover {
  background-color: var(--primary-hover-color);
}

.button-secondary {
  background-color: #fff;
  color: #476eef;
  border: 1px solid #3761eb;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 600;
}

.button-secondary:hover {
  background-color: #e1e1e1;
}

.button-text-only {
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 10px 0px;
}
