.login-div {
  min-height: 90vh;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  margin: auto;
  /* width: 30%; SMALL SCREEN */
  width: 20%;
  background-color: #fff;
}

.login-page-logo {
  padding-bottom: 20px;
}

.button-login-page {
  padding: 9px 30px;
  margin-top: 16px;
  color: #fff;
  font-weight: 700;
  margin-left: auto;
}

.login-page-button:hover {
  background-color: var(--hover-color);
}
