.login-div {
  min-height: 100vh;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid var(--red);
  border-radius: 5px;
  margin: auto;
  max-width: 40%;
  vertical-align: center;
}
