.side-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 220px;
  /* border-right: 2px solid var(--color-grey-3); */
  color: var(--bg-color);
}

.logout-button {
  margin-top: auto;
}

.css-1qfyxs7-MuiTypography-root {
  font-weight: 600 !important;
}

.sidebar-logo {
  padding: 37px 0 20px 0;
  display: block;
  width: 200px;
  margin: 0 auto;
}

.logout-icon {
  transform: rotate(180deg);
}
