.logo {
  min-height: 64px;
}

.side-bar {
  background-color: #fff;
  height: 100vh;
  width: 220px;
  border-right: 1px solid #e3e3e3;
}

.font-weight-600 {
  font-weight: 600;
}

.logout-icon {
  transform: rotate(180deg);
}
